{% extends 'base.html.twig' %}

{% block body %}

    <!-- Task -->
    <div class="container">
      <div class="row message">
        <h1 class="title">Completed</h1>
        {% for message in messages %}
        <div class="col-xs-9">
          <p class="object">{{ message.object }}</p>
          <p class="message">{{ message.message }}</p>
        </div>
        <div class="col-xs-2">
          <a href="{{ path('message_show', { 'id': message.id }) }}"><img src="{{ asset('img/view.png') }}" alt="En savoir plus"/></a>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
