{% extends 'base.html.twig' %}

{% block body %}


    <!-- Button add task-->
    <div class="container">
      <div class="row add">
        <h1 class="title">Chocolate Messenger </h1>
        <a href="{{ path('message_new') }}">
          <div class="col-xs-12 ">
            <button type="button" class="btn btn-default btnadd">
              <img class="addimg" src="{{ asset('img/add.png') }}" alt="add"/>
              <p class="addp">Add a message</p>
            </button>
          </div>
        </a>
      </div>
    </div>

    <!-- Task -->
    <div class="container">
      <div class="row message">
        {% for message in messages %}
        <div class="col-xs-9">
          <p class="object">{{ message.object }}</p>
          <p class="message">{{ message.message }}</p>
        </div>
        <div class="col-xs-2">
          <a href="{{ path('message_edit', { 'id': message.id }) }}"><img src="{{ asset('img/modify.png') }}" alt="modifier"/></a>
          <a href="{{ path('message_show', { 'id': message.id }) }}"><img src="{{ asset('img/view.png') }}" alt="En savoir plus"/></a>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
